@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.heading {
    text-align: center;
    padding-top: 5%;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
.table {
    text-align: center;
    padding: 10%;
    font-size: 1.5rem;
    margin-top: 5%;
}

.crypto-img {
    width: 10%;
}

/* search bar */
.searchbar{
    padding-top: 5%;
    font-size: 2rem;
    
}
.searchbar input{
    background-color: transparent;
    width: 30%;
    text-align: center;
    border: 1;
    font-size: 2rem;
    color: white;
   
}

.searchbar input::placeholder{
    color: white;
    font-family: 'Oswald', sans-serif;
}